@import url('https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css');
// @import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/themes/saga-orange/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
@import './layout/variables';

html,
body, #root {
  height: 100%;
}

#root {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  touch-action: none;

  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px;
}

.content {
  background-color: $color4;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.p-panel {
  margin-bottom: 8px;
  margin-top:    8px;
  margin-left:   8px;
  margin-right:  8px;
}
