@import url('https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css');
// @import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/themes/saga-orange/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
@import './layout/variables';

html,
body,
#root {
  margin: 0;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  font-weight: bold;
  text-align: center;
  touch-action: none;

  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px;
}

.content {
  width: auto;
  background-color: $color4;
  justify-content: center;
  overflow: auto;
}

.p-panel {
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}
