.content {
  display: flex;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  justify-content: center;
  background: #ddd;
}

.bar {
  button {
    margin-inline: 0.5rem;
  }

  > div {
    margin-right: 0.5rem;
  }
}
