@import 'layout/variables';

.gamecell {
  border: 0.05rem lightgray solid;
  position: relative;
  box-sizing: border-box;
  aspect-ratio: 1;
}

.selected {
  // border: 4px $selectedColor solid;
  background-color: lighten($selectedColor, 10%) !important;
}

.blankCell {
  background-color: black;
}

.hintCell {
  background-color: black;
  color: white;
}

.numberCell {
  background-color: white;
}

.wrongGuess {
  color: $color1;
  font-weight: bold;
}
