@import 'layout/variables';

.combinations {
  height: 100%;
  background-color: #282c34;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.column {
  flex: 1;
}

.text {
  margin: auto;
  color: white;
  font-size: 1.5rem;
  text-align: left;
}

.sumSolved {
  font-size: 2rem;
  display: inline-block;
  color: #5f5;
}

.possibility {
  padding: 2px 0;
  cursor: pointer;
}

.excluded {
  text-decoration: line-through;
  color: #888;
}

.impossible {
  color: #666;
}

.usedDigit {
  color: #aaf;
}

.candidateDigit {
  color: #ffa;
}

.impossibleDigit {
  color: #eee;
}

.debug {
  position: absolute;
  bottom: 0;
  background: #fff;
  width: 40vw;
  height: 50vh;
  overflow: auto;
  text-align: left;
  z-index: 100;
  border: 1px solid black;
}
