@import 'layout/variables';

.combinations {
  background-color: #282c34;
  padding: 4px;
  // font-size: 1rem;
  display: flex;
  align-content: center;
  height: $footerHeight;
}

.text {
  margin: auto;
  color: white;
  padding: 4px;
  font-size: 1rem;
  text-align: left;
}

.sum {
  display: inline-block;
  color: #5f5;
  width: 3rem;
  text-align: right;
}

.possibility {
  padding: 10px;
}

.highlight {
  color: grey;
}
