.controls {
  background-color: #c6b0a1;
}

.columns {
  padding: 1vw;
  display: grid;
  grid-template-columns: repeat(3, 4vw);
  grid-template-rows: repeat(3, 4vw);
  gap: 0.5vw;
  justify-content: center;
}

.button {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.zoomButtons {
  margin: 0.5rem;
}

@media (screen-spanning: single-fold-vertical) {
  /* styles applied in double-portrait (wide) mode */
  .cntrols {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
