.controls {
  background-color: #c6b0a1;
}

.columns {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.button {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.zoomButtons {
  margin: 0.5rem;
}
