.controls {
  background-color: #C6B0A1;
  width: 300px;
}

.columns {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.button {
  margin-left: 6px;
  margin-right: 6px;
}
