@import '../../layout/variables';

.gameBackground {
  height: 100%;
  background: $color1;
  overflow: scroll;
}

.gridContainer {
  margin: auto;
}

.grid {
  display: grid;
  grid-gap: 0px;
}

@media (screen-spanning: single-fold-vertical) {
  /* styles applied in double-portrait (wide) mode */
  .gameBackground {
    grid-column-start: 3;
    grid-row-start: 1;
  }
}
