@import 'layout/variables';

.content {
  width: 100%;
  height: calc(100% - #{$headerHeight} + #{$footerHeight});
  display: grid;
  grid-template-columns: minmax(150px, 15%) 1fr minmax(150px, 15%);
  overflow: hidden;
}
