.designCell {
  min-width: 48px;
  max-width: 64px;
  aspect-ratio: 1;
  border: 0.05rem lightgray solid;
  position: relative;
}

.hintMissing {
  color: yellow;
  font-weight: bold;
}

.solution {
  color: blue;
  font-size: 2rem;
}

.index {
  color: #aaa;
  font-size: 0.8rem;
  inset:  0px;
}

.debug {
  position: absolute;
  left: 4px;
  color: #f88;
  opacity: 0.8;
  z-index: 100;
}
