.gamegrid {
  height: 100%;
  background-color: #fadecb;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0px;
}

// .grid::before {
//   content: '';
//   width: 0;
//   padding-bottom: 100%;
//   grid-row: 1 / 1;
//   grid-column: 1 / 1;
// }

// .grid > *:first-child {
//   grid-row: 1 / 1;
//   grid-column: 1 / 1;
// }
