.gamecell {
  // background: rgba(0,0,0,0.1);
  border: 2px lightgray solid;
  position: relative;
  aspect-ratio: 1;
}

/* Blank Cells */
.blank {
  background-color: black;
}

/* Hint Cells */
.hint {
  color: white;
  font-size: calc(10px + 5vmin);
  font-weight: normal;
  background-color: black;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='0' x2='100' y2='100' stroke='lightgray' stroke-width='2' vector-effect='non-scaling-stroke'/></svg>");
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: 100% 100%, auto;
}

.verticalHint {
  color: white;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.horizontalHint {
  color: white;
  position: absolute;
  top: 5%;
  right: 5%;
}

/* Number Cells */
.number {
  background-color: white;
  color: black;
}

.guess {
  font-size: calc(10px + 10vmin);
  align-content: center;
  // position: absolute;
  // top: 50%;
  // left: 50%;
}
