/* Number Cells */
.number {
  background-color: white;
  color: black;
}

.guess {
  font-size: 4rem;
  font-weight: normal;
  align-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
