/* Number Cells */
.number {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guess {
  font-size: 4rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
