/* Number Cells */
.number {
  background-color: white;
  color: black;
}

.guess {
  font-size: calc(8rem);
  font-weight: bold;
  align-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // position: absolute;
  // top: 50%;
  // left: 50%;
}
