@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

html,
body, #root {
  height: 100%;
}

#root {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  touch-action: none;

  background: #ddf;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #282c34;
  color: white;
  padding: 10px;
}

.content {
  background: lightblue;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.p-panel {
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}
